h5py==3.14.0
ir_datasets==0.5.11
matplotlib==3.10.8
numba==0.62.1
numpy==2.4.2
omegaconf==2.3.0
pandas==3.0.0
pygaggle==0.0.3.1
pytrec_eval==0.5
pytrec_eval_terrier==0.5.9
setuptools==80.9.0
torch==2.9.1
tqdm==4.67.1
transformers==4.57.0
